<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 235">
    <path fill="#000000" fill-opacity="1" d="M0,96L30,112C60,128,120,160,180,170.7C240,181,300,171,360,181.3C420,192,480,224,540,229.3C600,235,660,213,720,186.7C780,160,840,128,900,128C960,128,1020,160,1080,176C1140,192,1200,192,1260,192C1320,192,1380,192,1410,192L1440,192L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
</svg>

<footer class="w-full bg-black">
    <div class="w-11/12 m-auto">

        <div class="text-white w-full">
            <img routerLink="" class="w-32 cursor-pointer" src="assets/logo2.png" alt="logo" /><br>
            <p>This is the BookHub platform where you can view, sell & purchase books. #AITU</p>
            <div class="flex justify-between gap-3 w-20 text-xl mt-2 cursor-pointer">
                <i class="fa-brands fa-fade fa-instagram"></i>
                <i class="fa-brands fa-fade fa-facebook"></i>
                <i class="fa-brands fa-fade fa-youtube"></i>
            </div>
        </div>
        <br>

        <div class="grid grid-cols-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-5 2xl:grid-cols-5 gap-3">
            <div>
                <h1 class="text-red-500 text-xl font-bold mb-2">Offers</h1>
                <ul class="text-white">
                    <li class="hover:text-red-300"><a routerLink="">Black Day</a></li>
                    <li class="hover:text-red-300"><a routerLink="">Super</a></li>
                    <li class="hover:text-red-300"><a routerLink="">Dhamaka</a></li>
                    <li class="hover:text-red-300"><a routerLink="">New Year</a></li>
                </ul>
            </div>

            <div>
                <h1 class="text-red-500 text-xl font-bold mb-2">Brands</h1>
                <ul class="text-white">
                    <li class="hover:text-red-300"><a routerLink="">ClassTree</a></li>
                    <li class="hover:text-red-300"><a routerLink="">RoadTree</a></li>
                    <li class="hover:text-red-300"><a routerLink="">MakeTree</a></li>
                    <li class="hover:text-red-300"><a routerLink="">NewTree</a></li>
                </ul>
            </div>

            <div>
                <h1 class="text-red-500 text-xl font-bold mb-2">Teams</h1>
                <ul class="text-white">
                    <li class="hover:text-red-300"><a routerLink="">Bihar</a></li>
                    <li class="hover:text-red-300"><a routerLink="">Bhopal</a></li>
                    <li class="hover:text-red-300"><a routerLink="">Patna</a></li>
                    <li class="hover:text-red-300"><a routerLink="">Shimla</a></li>
                </ul>
            </div>

            <div>
                <h1 class="text-red-500 text-xl font-bold mb-2">Features</h1>
                <ul class="text-white">
                    <li class="hover:text-red-300"><a routerLink="">Browse/Buy Books</a></li>
                    <li class="hover:text-red-300"><a routerLink="">Sell Books</a></li>
                    <li class="hover:text-red-300"><a routerLink="">AI ChatBot</a></li>
                    <li class="hover:text-red-300"><a routerLink="">AI Contents</a></li>
                </ul>
            </div>

            <div>
                <h1 class="text-red-500 text-xl font-bold mb-2">Customer Care</h1>
                <ul class="text-white">
                    <li class="hover:text-red-300"><a routerLink="">Astana It University.</a></li>
                    <li class="hover:text-red-300"><a href="tel:911234987656">+123456789</a></li>
                    <li class="hover:text-red-300"><a href="mailto:support@bookhub.com">support&#64;bookhub.com</a></li>
                </ul>
            </div>
        </div>
        <br>
        <br>

        <p class="text-white text-center">© All Rights Reserved. Designed & Developed by <span class="text-red-300 hover:text-red-500"><a href="https://t.me/nogitsunevlr" target="_blank" >Zhumabekov Damir</a></span></p>

    </div>
</footer>